body{
    overflow: hidden;
    box-sizing: border-box;
}
.mainContainer{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 5px solid red; */
    flex-direction: column;
    overflow: hidden;
}

.albumContainer{
    width: 80% ;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top:auto;
    border: 5px solid rgb(20, 208, 76);
    flex-wrap: wrap;
}

.albumForm{
    width: 100%;
    margin-top: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    
}

.header{
    width: 100%;
    display: flex;
    justify-content:space-between;
    font-family: "Poppins", sans-serif;
    justify-content:space-around;

}

.btn{
    font:message-box;
    font-size:15px;
    margin-top: 25px;
    float: right;
    height: 31px;
    color: #0277ff;
    width: 100px;
    border: 2px solid #0277ff;
    border-radius: 0.4rem;
}