/* Input styles */
.input {
    width: 40%;
    margin: 0 2%;
    height: 40px;
    font-size: large;
    border-radius: 1rem;
    border: none;
    transition: border 0.3s; /* Added transition for smoother effect */
}

.input:focus,
.input:hover {
    border: 3px solid blue;
    /* Change the border color to blue when focused or hovered */
}

/* Button styles */
.formBtn,
.clearBtn,
.createBtn {
    width: 70px;
    margin: 0 1%;
    height: 31px;
    color: white;
    font-size: large;
    border-radius: 0.5rem;
    cursor: pointer; /* Added cursor: pointer */
}

/* Clear button styles */
.clearBtn {
    background-color: rgb(255, 19, 0);
    height: 40px;
    border: none;
}

/* Create button styles */
.createBtn {
    background-color: rgb(0, 119, 255);
    height: 40px;
    border: none;
}
